In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver.firefox.options import Options
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np
import fastf1

In [23]:
import os
import re
from datetime import date
import requests
import datetime

In [3]:
opts = webdriver.ChromeOptions()
opts.add_argument("--disable-blink-features")
opts.add_argument("disable-blink-features=AutomationControlled") 
opts.add_argument("--window-size=1920,969")
opts.add_argument("--headless")
opts.add_argument('--no-sandbox')
opts.add_argument("--incognito")
opts.add_argument("--start-maximized")
opts.add_argument("--ignore-certificate-errors")
opts.add_argument("--allow-running-insecure-content")
opts.add_argument("--disable-notifications")
opts.add_argument("--disable-extensions")
opts.add_argument("--disable-infobars")
opts.add_argument("--disable-gpu")
opts.add_argument('--disable-dev-shm-usage')
opts.add_argument('--disable')
driver = Chrome('chromedriver', options = opts);

In [9]:
#Setting up the cache for fast API
fastf1.Cache.enable_cache('./FastF1Cache')

In [28]:
#
general_data = np.array([])
for year in range(1950, int(datetime.date.today().year)):
    general_data = np.append(general_data, fastf1.get_event_schedule(year))
general_data

array([1, 'UK', 'Silverstone', ..., 'Race',
       Timestamp('2021-12-12 00:00:00'), True], dtype=object)

In [30]:
test_sesh = fastf1.get_session(2021, 1, 'FP2')

In [45]:
test_sesh.weather_data

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:34.193000,28.3,48.4,1008.8,False,33.9,347,0.8
1,0 days 00:01:34.194000,28.3,48.5,1008.9,False,33.9,341,1.0
2,0 days 00:02:34.194000,28.2,48.7,1008.8,False,33.7,341,0.8
3,0 days 00:03:34.195000,28.2,48.8,1008.9,False,33.8,349,1.1
4,0 days 00:04:34.191000,28.2,48.5,1008.9,False,33.8,342,1.0
...,...,...,...,...,...,...,...,...
74,0 days 01:14:34.542000,28.0,42.2,1009.0,False,31.4,334,0.6
75,0 days 01:15:34.554000,27.9,41.9,1008.9,False,31.5,337,0.6
76,0 days 01:16:34.548000,27.9,41.6,1009.0,False,31.4,350,0.8
77,0 days 01:17:34.573000,27.9,42.1,1009.0,False,31.6,11,0.7
78,0 days 01:18:34.568000,27.9,42.9,1008.9,False,31.6,355,0.4

In [57]:
aa = fastf1.core.Telemetry([], session = test_sesh,driver = '33')

In [58]:
aa

Empty Telemetry
Columns: []
Index: []